/* 
general  
*/

/* 
header  
*/

.min_logo {
    height: 50px;
}

header {
    height: 60px;
}


/* 
main  
*/
main {
    height: calc(100vh - 60px);
}

.background_img {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

.background_badge {
    background-color: #165bba;
}

.button_circle {
    display: inline-block;
    color: white;
    border-radius: 50%;
    line-height: 25px;
}

.img_tabella {
    width: 30px;
    border-radius: 50%;
}

.icone_tabella {
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 3px;
}

/*
 hover  
*/

.search_aside:hover {
     background-color: gray;
}

/* 
responsive
*/

/* mobile  */


@media screen and (min-width: 576px) {
     .main_left {
        width: 60px;
    } 
    
    .main_right {
        width: calc(100% - 60px);
    } 

    .offcanvas_upgrade {
        min-width: 100%;
    }

    
    
}

/* Tablet */


@media screen and (min-width: 768px) {
    
    
}

/* desktop  */



@media screen and (min-width: 992px) {
    .main_left {
    width: 150px;
    }
    
    .main_right {
    width: calc(100% - 150px);
    }
    
    .offcanvas_upgrade {
        min-width: 50%;
    }
    
}