/* 
general  
*/

/* 
header  
*/

.min_logo {
    height: 50px;
}


/* 
main  
*/

.background_img {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

.background_badge {
    background-color: #165bba;
}

.button_circle {
    display: inline-block;
    color: white;
    border-radius: 50%;
    line-height: 25px;
}

/* 
responsive
*/

@media screen and (min-width: 576px) {
    .main_left {
        width: 50px;
    }
    
    .main_right {
        width: calc(100% - 50px);
    }
    
}

@media screen and (min-width: 768px) {
    
    
}

@media screen and (min-width: 992px) {
    .main_left {
    width: 150px;
    }
    
    .main_right {
    width: calc(100% - 150px);
    }
    
    
}